
body {
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 95%);
  margin: 0;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: hsl(0, 0%, 8%);
}

.profile-card {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 26px 16px 25px 16px;
}

.profile-avatar {
  width: 90px;
  border-radius: 100%;
}

.profile-name {
  font-weight: 700;
  margin-bottom: 0;
}

.profile-location {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.profile-quote {
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 65%);
}

.profile-social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  list-style: none;
  padding: 0;
  margin-inline: 22px;
  margin-top: 6px;
}

.profile-social-links > li {
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  border-radius: 8px;
  padding-block: 14px;
}

.profile-social-links > li:hover {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

nav {
  width: 100%;
}

.profile-social-links > li > a {
  all: unset;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: hsl(0, 0%, 8%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  position: absolute;
  bottom: 15px;
  inset-inline: 0px;
}

@media (max-height: 700px) {
  footer {
    position: static;
    padding-bottom: 15px;
    padding-top: 20px;
  }
}